/* Selectors for all input elements */
.custom-form {
    input,
    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="number"],
    input[type="checkbox"],
    input[type="radio"],
    input[type="file"],
    input[type="submit"],
    input[type="button"],
    input[type="reset"],
    input[type="search"],
    input[type="tel"],
    input[type="url"],
    input[type="date"],
    input[type="time"],
    input[type="color"],
    input[type="range"],
    textarea {
        width: 100%;
        padding: 1rem;
        /* border: 2px solid light-dark(#000000, #ffffff); */
        background-color: light-dark(#cdcdcd, #4f4f4f);
        color: light-dark(#000000, #a4a4a4);
    }
}