@layer reset {
    *, *:before, *:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    *:not(dialog), *:before:not(dialog), *:after:not(dialog) {
        margin: 0;
        padding: 0;
    }
}