:root {
    --body-font-family: "Work Sans", sans-serif; 

    --selection-background-color: var(--deep-purple);
    --selection-text-color: var(--body-text-color);

    --brand-color: var(--deep-purple); /* #360269 */
}